@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #363940;
}

::-webkit-scrollbar { /* 스크롤바 제거 */
	display: none;
}

.container {
	margin: 0 auto;
	padding: 100px;
	width: 1000px;
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px
		-2px 6px 0px inset;
	border-radius: 5px;
}

/* 메뉴 */
.menu_profile_img {
	display: block;
	margin: 50px auto 30px auto;
	width: 100px;
	text-align: center;
}

.menu_profile_text {
	width: 100%;
	float: left;
	font-size: 18px;
	text-align: center;
	color: white;
	margin-left: 0px;
	font-weight: 450;
	margin-left: 0px;
}

.row_round {
	background-color: var(--dt-surface,#fff);
	border-radius: 35px;
    box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    gap: 0.8125rem;
    height: 3rem;
    min-width: 7.5rem;
    padding: 0 1.5rem 0 0.625rem;
	width: fit-content;
}