<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mycompany.webapp.dao.IJsonRepository">

<insert id="insert_into_groupinfo"
		parameterType="com.mycompany.webapp.dto.DTO_for_json">

			INSERT INTO 
		ORGANIZATION_CHART_COPY 
			(HIGH_DEPARTMENT_ID, DEPARTMENT_ID,
			DEPARTMENT_NAME,REG_DATE,UPDATE_DATE)  
		   select #{highDepartmentId},
				  #{departmentId}, 
				  #{departmentName},
				  trunc(sysdate),
				  trunc(sysdate) from dual 
		WHERE NOT EXISTS (
                SELECT 1
                FROM ORGANIZATION_CHART_COPY
                WHERE HIGH_DEPARTMENT_ID = #{highDepartmentId} 
                  and DEPARTMENT_ID = #{departmentId}
                  and DEPARTMENT_NAME = #{departmentName})
	
	</insert>

<insert id="insert_into_pjhistorys"
		parameterType="com.mycompany.webapp.dto.DTO_for_json2">
	
		INSERT INTO 
		PROJECT_HISTORY_COPY 
			(PARTICIPATION_EMPLOYEE_ID
		   , PROJECT_ID,REG_DATE,UPDATE_DATE)  
		   select #{participationEmployeeId},#{projectId},trunc(sysdate),trunc(sysdate) from dual 
		WHERE NOT EXISTS (
                SELECT 1
                FROM PROJECT_HISTORY_COPY
                WHERE PROJECT_ID = #{projectId} and PARTICIPATION_EMPLOYEE_ID = #{participationEmployeeId})
		   

			 
	
	</insert>


</mapper>