@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #363940;
}

table {
	line-height: 30px;
	word-break: break-all;
	vertical-align: middle;
}

::-webkit-scrollbar { /* 스크롤바 제거 */
	display: none;
}

input {
	border-radius: 10px;
	height: 40px;
	border: 2px solid #e8e8e8;
}

select {
	border-radius: 10px;
	height: 40px;
	border: 2px solid #e8e8e8;
}

select:hover { /* select */
	border-color: #888;
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

select:disabled {
	opacity: 0.5;
}

.container {
	margin: 0 auto;
	padding: 100px 50px 50px 50px;
	width: 2000px;
	height: 900px;
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px
		-2px 6px 0px inset;
	border-radius: 5px;
}

/* 메뉴 */
.menu_profile_img {
	display: block;
	margin: 50px auto 30px auto;
	width: 100px;
	text-align: center;
}

.menu_profile_text {
	width: 100%;
	float: left;
	font-size: 18px;
	text-align: center;
	color: white;
	margin-left: 0px;
	font-weight: 450;
	margin-left: 0px;
}

.seach_float {
	position: absolute;
	top: 45px;
	right: 200px;
}

.modal_class {
	display: flex;
	justify-content: space-between;
	max-width: 420px;
	align-items: center;
	margin-bottom: 20px;
}
.seach_btn {
	position: relative;
	margin-left: 580px;
	padding: .6em 1.4em .5em .8em;
	margin: 0;
}

}
.search_form {
	padding-bottom: 200px; ! important;
	border-radius: 10px;
	border: 1px #e8e8e8;
}

.create_btn {
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 20px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ababab;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.create_btn:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}

.create_btn:active {
	position: relative;
	top: 1px;
}