@charset "UTF-8";



#scroll_area {
  	 overflow-y: scroll;
     position: relative;
     overflow-x: auto;
}
#survey_question_dv{
	width: 40%;	
	float: left;
	top-margin:15px;
	height:700px;
}

.list-group-item.active{ /*이거 없애거나 건들면 이 클래스 싹 다 파래짐*/
	background: transparent!important;
	border: none!important;
	border-bottom: 1px solid rgba(0,0,0,.125)!important;
	
}

.all_insertdv {
	display:block;
}

#block_box {
float:right;
background-color: white;
width: 600px;
margin-right: 10%;
margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
   box-shadow: rgba(59, 59, 91, 0.25) 0px 6px 12px -2px,
    rgba(15, 13, 13, 0.3) 0px 3px 7px -3px;
}

#question_content{
	margin: 15px;
	width:35%;
}


#other {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    outline: none;
    width:500px;
}

#delete_button {
    left: 88%;
    background-color: transparent;
    border: none;
    float: right;
}

#input_qus{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    border: none;
     outline: none;
     width:90%
}

.blank_under{
	background: none;
    border-bottom: 1px dotted rgba(0,0,0,.38);
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

#qus_isnert_button{
	background-color: transparent;
    border: none;
    left: 92.5%;
    margin: 15px;
    position: relative;
}

.all_qus{
	display:block;
}

.question_inputdv {
	/*background-color:yellow;*/
    position: relative;
    top: 550px;
}

#exampleFormControlInput {
	/*background-color:green!important;*/
	position: absolute;
    left: 54%;
    width: 42%!important;
	}
#select_radio{
	/*background-color:red;*/
	width: 50%;
    margin-bottom: 5px;
    position: absolute;
    left: 48%;
    margin-top: 40px;
}


#question_add{
		/*background-color:blue;*/
  width: 50%;
    left: 48%;
    top: 70px;
    position: absolute;
    float:right;
}

#add_btn {
	margin-top:5px;	
}

#answer_box {
	left: 2%;
    position: relative;
    width: 500px;
    float: right;
	}
}