@charset "UTF-8";

input {
	vertical-align: middle
}

.blank_under{
	border-bottom: 3px solid gainsboro;
    margin-top: 10px;
}


.inner_container{
	display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}


.question_add_btn_div{
}

.item_management{
	margin-top:30px;
/* 	border-radius: 20px;  */
/* 	box-shadow: 1px 1px 10px 0px  #c0c0c0; */
/* 	padding: 20px; */
	width:500px;
	
}

.itemdeletebtn{
	width: 60px;
}
.itemContent{
	width:100px;
}
.item{
	width:500px;
}
.question_inputdv{
	margin: auto;
	box-shadow: 1px 1px 10px 0px;
	border-radius: 20px;
/* 	padding: 20px; */
	width: 550px;
	
}
.question_management{
	margin-top: 30px;
	width: 930px;
/* 	box-shadow: 1px 1px 10px 0px #c0c0c0; */
/* 	border-radius: 20px; */
	padding: 20px;
}
.icon_line{
/* 	border-bottom: 3px solid gainsboro; */
	padding:5px;

}

.container_flex {
border-bottom: 1px solid;
    height: 150px;
    margin: auto;
    margin-top: 25px;
/* 	border-radius: 20px; */
/* 	box-shadow: 1px 1px 10px 0px #c0c0c0;  */
/* 	padding: 20px;  */
/* 	width:450px; */
/* 	align-items: center !important; */
}

.container_survey {
/* 	margin-left: -18px; */
/* 	border: 1px solid red; */
/* 	height: -webkit-fill-available; */
}

.questionAndItem{
	display: flex; 
	justify-content: space-around; 
	height:657px;
}

#is{
	text-align:center;
	width:40px;
	
}

.title{
		display: flex;
    /* margin-left: 700px; */
    border: none;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    justify-content: space-between;
    background: rgba(0,0,0,.05);
    padding: 10px 10px 0px 10px;
    border-radius: 20px 20px 0px 0px;
}

.input_title {
/* 	width: 20px; */
/* 	margin-bottom: 20px; */
	text-align: inline-flex;
	font-weight: bold;
	min-width: 6rem;
	color: #0089ff;
	font-size: 20px;
	margin-left: 700px;
}

.form-control {
	width: 500px;
	height: 80px !important;
	font-size: 15px;
	border: 1px solid rgb(233, 233, 233);
	border-radius: 12px;
	outline: none;
}
textarea.form-control {
	max-width: 350px;
	height: fit-content;
	border: 2px solid #e8e8e8;
	background-color: #ffffff;
}
input#input_qus{
	width:570px;
	border: 2px solid #e8e8e8;
	background-color: #ffffff;
}
input#is{

}
.input_qus {
	display: inline-flex;
	height: 50px;
	width:570px;
	flex-direction: column-reverse;
}

.insert_category {
	text-align:center;
	background: rgba(0,0,0,.05);
	box-shadow: inset 2px 2px 5px #ededed, inset -5px -5px 10px #fff;

	border-radius: 20px;

}

.form-check-input {
	vertical-align: middle !important;
}

.update_btn {
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border-radius: 20px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ababab;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.update_btn:hover {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}

.update_btn:active {
	position: relative;
	top: 1px;
}
.select_radio{
	justify-content: space-around;
	align-items: center;
}