@charset "UTF-8";

.mappingsearchMenu{
	width: 1450px;
	text-align: center;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-end;
}

.survey_list_form{
	display: flex;
}
.btn btn-link {
	    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .5rem;
    line-height: 1;
    font-size: 1rem;
}
select{
	margin-right: 10px;
}
.input-group-append{

}

.searchRange{
	display: flex !important;
	margin-right:5px !important;
}

.table{
	max-width: 98%;
	margin:auto;
}
.table td:not(.sv_name){
	text-align: center;
}
.table thead th{
	height: 50px;
	text-align: center;
	vertical-align: middle;
}
.table td, .table th{
	height: 25px;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
	  text-align: center;
}
.wait{
		color: #F06;
		font-weight: bold;
}
.comp{
		font-weight: bold;
}
.pagination{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#grey{
	color: #ccc;
}


#map_insert {
    float: right;
}

.paiging-btn-table{
	   width: 100%;

}
#map_delete{
	background-color:transparent;
	border:0px;
}
