.survey_list_form_upper_dv{
    width: 790px!important;
    margin: 0px !important;
}
.survey_list_form {
	width: 790px;
}
#button{
	text-align:center;
}
#search-div {
	width: 300px;
    float: right;
}