@charset "UTF-8";

/* .forshadowing{ */
/*    background-color: white; */
/*     box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset; */
/*     border-radius: 5px; */
/*     height: 840px; */
/*     width: 100%; */
/*     padding: 1em; */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/* } */


#survey_list_form_id{
	display: flex;
}
.input-group-append{
	margin-left:526.5px;	
}
#button-addon2 {
    margin-left: 6px;
}

.table{
	max-width: 1300px;
	margin:auto;
}
.sv_name{
	text-align: center;
}
.table thead th{
	height: 65px;
	text-align: center;
	vertical-align: middle;
}
.table td, .table th{
	height: 65px;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
	text-align: center;

}

.pagination{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.lmenu{
	margin-top: 20px;
	margin-right:58px;
	float:right;
}