@charset "UTF-8";
/*
.card-body{
   height: 865px;
   width:1500px;
   background: darkgray;
   display: flex;
    justify-content: center;
}

.forshadowing{
   background-color: white;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    border-radius: 5px;
    height: 820px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
*/

.individual {
      width: 1380px;
    flex-direction: column;
    display: flex;
    flex-grow: 0;
}
/*
.individual {
width: 1400px;
}
*/
.row {
     text-align: center;
}

.container_flex{
   display:flex;
   justify-content: center;
	box-shadow: 0px 0px 1px 1px #c0c0c0;
	border-radius: 20px;
   padding: 5px;
   margin:20px;
}

.table-container{
   box-shadow: 0px 0px 1px 1px #c0c0c0;
   border-radius: 20px;
   padding: 5px;
   margin:20px;
   margin-top: 0px;
   overflow-y:scroll;
   height: 670px;
}




.infodiv{
	margin:auto;
}

.title{
	position: relative;
    bottom: 30px;
    left: 600px;
    top: 3px;
    width: 120px;
    height: 50px;
}



.info > .col-1{
    display: flex;
    border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
    margin-bottom: 2px;
    justify-content: center;

}
.info > .col-2{
   display: flex;
    border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
    border-right: #e8e8e8 2px solid;
    margin-bottom: 2px;
}
.result_table_list{
      background-color: #eeeeee;
}

.result_sub{
   margin-top: 60px;
   width:100%;
   max-width:600px;
   margin-left:90px;
   text-align: center;

}
.result_sub  th{
   border-top:none;
   border-bottom: 1px solid #dee2e6;

}