@charset "UTF-8";
/* .hmenu{ */
/* 	display: flex; */
/* 	margin-bottom: 20px; */
/* 	margin-left: 530px; */

/* } */

/* .card{ */
/* 	width: 1500px; */
/* } */

/* .card-body{ */
/* 	height: 865px;  */
/* 	background: darkgray; */
/* } */

/* .forshadowing{ */
/* 	background-color: white; */
/*     box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset; */
/*     border-radius: 5px; */
/*     height: 820px; */
/*     padding: 1em; */
/* } */

#copySurvey_btn_plus{
/* 	display:none; */

color:green;
}

.copySurvey_btn:hover #copySurvey_btn_plus{
    display: block;
}




.survey_list_form_upper_dv{
	display:flex;
	margin-left: 130px;
}

#selectedDate{
	margin-right:10px;
}

.survey_list_form{
	display: flex;
}
.survey_list_form select{
	margin-right: 10px;
}

#button-addon2{
		margin-left: 6px;

}

#upper_dv_btn{
	margin-left: 6px;
}

.table td {
/* 	width: 350px; */
	
}

.table th {
/* 	width: 150px; */
	
}

.table{
	max-width: 1500px;
	margin:auto;
}
.table td:not(.sv_name){
	text-align: center;
}
.table thead th{
	height: 65px;
	text-align: center;
	vertical-align: middle;
}
.table td, .table th{
	height: 65px;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}
.wait{
		color: #F06;
		font-weight: bold;
}
.comp{
		font-weight: bold;
}
.pagination{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#grey{
	color: #ccc;
}
