@charset "UTF-8";


#copySurvey_btn_plus{
/* 	display:none; */

color:green;
}

.hmenu{

}

.copySurvey_btn:hover #copySurvey_btn_plus{
    display: block;
}



#selectedDate{
	margin-right:10px;
}

.survey_list_form{
	display: flex;
}
.survey_list_form select{
	margin-right: 10px;
}

#button-addon2{
		margin-left: 6px;

}

#upper_dv_btn{
	margin-left: 6px;
	float:right;
}

.table td {
/* 	width: 350px; */

}

.table th {
/* 	width: 150px; */

}

.table{
	max-width: 98%;
	margin:auto;
	margin-bottom: 15px;

}
.table td:not(.sv_name){
	text-align: center;
}
.table thead th{
	height: 50px;
	text-align: center;
	vertical-align: middle;
}
.table td, .table th{
	height: 25px;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}
.wait{
		color: #F06;
		font-weight: bold;
}
.comp{
		font-weight: bold;
}
.pagination{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#grey{
	color: #ccc;
}

.paging-table{
	    width: 1300px;
    margin-left: 80px;
}
