@charset "UTF-8";
.hmenu{
display: flex;
	margin-bottom: 20px;
}

.survey_list_form_upper_dv{
	display:flex;
	margin-left:200px;
}

#survey_list_form_id{
	display: flex;
    margin-left: 360px;
}


.table{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.table td:not(.sv_name){
	text-align: center;
}
.table thead th{
	height: 65px;
	text-align: center;
	vertical-align: middle;
}
.table td, .table th{
	height: 65px;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}

.pagination{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.lmenu{
	margin-top: 20px;
	margin-right:58px;
	float:right;
}