<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mycompany.webapp.dao.IJsonRepository">

<insert id="insert_into_groupinfo"
		parameterType="com.mycompany.webapp.dto.DTO_for_json">
	<![CDATA[
		INSERT INTO 
		ORGANIZATION_CHART 
			(HIGH_DEPARTMENT_ID, DEPARTMENT_ID,
			DEPARTMENT_NAME)  
		VALUES 
			(#{highDepartmentId},
			#{departmentId}, #{departmentName})
	]]>
	</insert>

<insert id="insert_into_pjhistorys"
		parameterType="com.mycompany.webapp.dto.DTO_for_json2">
	<![CDATA[
		INSERT INTO 
		PROJECT_HISTORY 
			(PARTICIPATION_EMPLOYEE_ID, PROJECT_ID, 
			PROJECT_START_DATE, PROJECT_CLOSED_DATE)  
		VALUES 
			(#{participationEmployeeId},
			#{projectId}, #{projectStartDate}, #{projectClosedDate})
	]]>
	</insert>


<!-- <insert id="insert_into_mappingtable"> -->
<!-- 	<![CDATA[ -->
<!-- 		INSERT INTO  -->
<!-- 		mappingtable  -->
<!-- 			(ratorid, surveyid, -->
<!-- 			projectid, evaluatedid  -->
<!-- 			)   -->
		
<!-- 	]]> -->
<!-- 	</insert> -->

</mapper>